.land-text {
  font-size: 2rem;
  font-weight: bold;

}

.text-way {
 font-size: 1.4rem;
 background: #ffffff7d;
 padding: 1rem;
 border-radius: 1rem;
}

.participate {
  margin-top: 3rem;
}


.text-center {
  text-align: center;
  padding: 2rem;
}

.logo-land {
  padding: 2rem;
}

.banner-land {
  background-color: purple;
}
