.form-new {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.form-field {
  width: 80%;
}

.photo-new {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
