.sigup{
 width: 70%;
}


#login-page{
   margin-left: 3rem;
   margin-top: 5rem;
}


.img-login-signup{
    width: 62%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}


.registration-box{
    margin-left: 6rem;
}