<div class="d-flex">
  <div class="d-flex flex-column">
    <% @chatrooms.each do |chat| %>
      <% if chat.user_two_id == current_user.id %>
        <%= link_to chat.name2, chatroom_path(chat) %>
      <% else %>
        <%= link_to chat.name, chatroom_path(chat) %>
      <% end %>
    <% end %>
  </div>
</div>
