<div class="footer">
  <div class="footer-logo">
   <%= image_tag 'stock_flow_withe.png', class: "image-footer" %>
  </div>
  <div class="footer-copyright">
    <p class="footer-copy">Copyright © 2023 Stock Flow Inc.</p>
  </div>
  <div class="footer-copyright">
   <i class="fa-solid fa-boxes-stacked" style="color: #ffffff;"></i>  Stocking your flow...  <i class="fa-solid fa-boxes-stacked" style="color: #ffffff;"></i>
  </div>
</div>
