<div class="footer">
  <div class="footer-logo">
    <span class="text-logo">StockFlow</span>
  </div>
  <div class="footer-copyright">
   <i class="fa-solid fa-boxes-stacked" style="color: #ffffff;"></i> Stocking your flow... <i class="fa-solid fa-boxes-stacked" style="color: #ffffff;"></i>
  </div>
</div>
