<h1>My Offers</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>quantity</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.product.name %></td>
        <td><%= offer.product.quantity %></td>
        <td><%=  %></td>
      </tr>
    <% end %>
  </tbody>
</table>