.avatar{ width: 40px;
  border-radius: 50%;
}
.avatar-card {
  position: absolute;
  width: 80px;
  left: 301px;
  bottom: 364px;
  border: 3px solid white;
}

.avatar_father{
  position: relative;
}
