.banner1 {
  color: white;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 400px;
  background-image: linear-gradient(black 0%, rgba(0,0,0,0.1)),url(https://images.pexels.com/photos/2749481/pexels-photo-2749481.jpeg)
}
