
// .card-sorteble {
//   border: 1px solid black;
//   margin: 1rem;
//   border-radius: 1rem;
//   padding: 1rem;
//   text-align: center;
// }

// .mini-card {
//   border: 1px solid black;
//   margin: 1rem;
//   border-radius: 1rem;
//   padding: 1rem;
//   text-align: center;
// }

.card-inter {
  border: none;
  background: transparent;
}

.image-card-offers {
  width: 50%;
  inline-size: fit-content;
  border-radius: 0.5rem;
}

.bg-offerted {
  background-image: image-url('banner_trade.png');
  width: 100%;
  background-size: cover;
}
.bg-offer {
  background-image: image-url('hands_shake.jpg');
  width: 100%;
  background-size: cover;
}
.bg-home {
  background-image: image-url('banner_home.png');
  width: 100%;
  background-size: cover;
}
.bg-trade {
  background-image: image-url('banner_trade.png');
  width: 100%;
  background-size: cover;
}

.logo-card-category {
  width: 36%;

  padding: 1rem;
  border-radius: 1rem;
}

.int-banner {
  align-items: end;
  font-size: 30px;
}
.bg-my-products {
  background-image: image-url('banner_products.png');
  width: 100%;
  background-size: cover;
}
