.btn {
  color: white;
  border-radius: 4px;
  padding: 4px 15px;
  border-radius: 24px;
  background: #5d8299;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #1c0bd8;
  color: white;
}
