.card {
  list-style-type: none;
  justify-content: center;
  background-color: white;
  border:none
}

.card-user-info {
  border: 1px solid black;
  border-radius: 1rem;
  margin: 0.5rem 1rem;
}
.card-product{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-product > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.card-product-infos {
  width: 100%;
  background: transparent;
  padding: 4px;
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: baseline;


  h2 {
  font-size: 1rem;
  font-weight: bold;
  }
  .qtd {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
  .avatar-card{
    position: absolute;
    width: 80px;
    right: -9px;
    bottom: 423px;
    border: 2px solid white;
  }

.card-category {
  background-size: cover;
  background-position: center;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 44px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 7.5rem;
}

.border-card{
  margin: 1rem;
  border: 1px solid #e8e7e7;
  padding: 1rem;
  transition: 0.4s;
  box-shadow: 0 0 1.1rem rgba(71, 71, 71, 0.4);
  background: #e9e6e6bd;

}

.border-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgb(93, 92, 92);
}

.description{
  padding: 0 1rem;
}

.card-user-info, .product-image{
  border-radius: 1rem;
  box-shadow: 0 0 2rem #b3b2b2;
}

.card-category > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-img-desc{

  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0 2rem #b3b2b2
}

.card-user-info {
  width: 50%;
  border-color: white;

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }

}
.image{
  border-radius: 1rem;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 68%;
}

.offer-card-details {
  width: 100%;
}

.product-image {

  img {
    border-radius: 1rem;
    width: 100%;
  }

}
.prod-image-offered {
  width: 100%;
}
.prod-image-offered {

  img {
    border-radius: 1rem;
    width: 100%;
  }
}
.offer-prod {
  flex-direction: column;
  display: flex;
  padding: 1.5rem;
  border: 1px solid gray;
  border-radius: 1rem;
  width: 45%;
  background: #f9f9f9ad;
}
