.card-offerted {
  border: 3px solid blue;
  padding: 5px;
  margin: 1rem 0;
  width: 44%;
  border-radius: 0.5rem;
}

#card-offerted {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

