.card {
  list-style-type: none;
  justify-content: center;
  width: 30%;
  border-radius: 1.5rem;
}
.card-user-info {
  width: 80%;
}
.card-product{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-product > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.card-product-infos {
  width: 100%;
  background: transparent;
  padding: 4px;
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: baseline;


  h2 {
  font-size: 1rem;
  font-weight: bold;
  }
  .qtd {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
  .avatar-card{
    position: absolute;
    width: 80px;
    right: -9px;
    bottom: 423px;
    border: 2px solid white;
  }

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 44px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.border-card{
  margin: 1rem;
  border-radius: 1rem;
  border: 1px solid rgb(85, 84, 84);
  padding: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 0.4s;
}

.border-card:hover {
transform: scale(1.05);
}
