.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100% !important;
  padding-left: 0;
  padding-right: 0;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;
    // margin: 0 -12px;
    background: #DDDDDD;
    .form-group {
      margin-bottom: 0;
    }
  }
}

.chatroom-margin{
  margin-top: 7.5rem;
}

.margin-bottom-wrapper {
  margin-bottom: 0px !important;
}

#message_content {
  border-radius: 50px;
  border-style: none;
  box-shadow: none;
  background: #F7F7F7;
}

.chatroom-list {
  background-color: #DDDDDD;
}
