.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0 0 1.1rem rgba(71, 71, 71, 0.4);


  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;
    // margin: 0 -12px;
    background: #DDDDDD;
    .form-group {
      margin-bottom: 0;
    }
  }

}

.chat-empty {
  justify-content: center;


  ul {
    opacity: 0.5;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  img {
    width: 80%;
    color: #000000;
    filter: saturate(0%);
  }
}


.chatroom-margin{
  margin-top: 7.5rem;
}

.margin-bottom-wrapper {
  margin-bottom: 0px !important;
}

#message_content {
  border-radius: 50px;
  border-style: none;
  box-shadow: none;
  background: #F7F7F7;

}

.chatroom-list {
  background-color: #DDDDDD;
  margin-top: 9px;
  box-shadow: 0 0 1.1rem rgba(71, 71, 71, 0.4), 0 0 1.1rem rgba(71, 71, 71, 0.4);

  .chat-card {
    width: 100%;
    border-radius: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 73px;
    background-color: #394867;
    display: flex;
    gap: 15px;
    margin-top: calc(var(--bs-gutter-x) * .5);

    p {
      margin-bottom: 0;
      color: rgba($color: #ffffff, $alpha: 0.5);
      font-size: 15px;
      font-weight: lighter !important;
    }

    a {
      font-size: 18px !important;
      color: white;
    }

    .avatar {
      border-style: none;
      width: contain;
      height: contain;
    }
  }
}


.chat-card-info {
  justify-content: center;
  padding: 5px 0;
  overflow: hidden;
  white-space: nowrap;


  p {
    line-height: 70%;
    text-overflow: ellipsis !important;

    // overflow: hidden;
    // white-space: nowrap;
  }
  // .overflow-ellipsis {
  //   text-overflow: ellipsis !important;
  // }
}

.button, .postfix {
  margin-left: 10px;
  border-style: none;
  background-color: rgba($color: #000000, $alpha: 0);
  width: 35px;
  height: 35px;
  padding: 0 !important;
}
