.footer {
  background: #212A3E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px; /* increase the height */
  padding: 0px 100px; /* add more padding to the sides */
  color: rgb(255, 255, 255);
  margin-top: auto;
  flex-grow: 0;
}
.text-logo {
  font-size: 24px;
  color: #fff;
  font-family: 'Catamaran', sans-serif;
}

.image-footer{
  width:10rem;
  margin-right: 20px;

}
