.form-control {
  border: 2px solid #a5a5a5;
  border-radius: 20px;
  background: white;
}
.form-select, #product_expiration, .numeric {
  width: 30%;
  border: 2px solid #a5a5a5;
  border-radius: 20px;
  background: white;
  padding: 4px 10px;
}


