.box-land {
  width: 120%;
}

.network-land {
  width: 38%;

}

.logo-land {
  width: 100%;
  padding-top: 3rem;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  background: #ffffff00;
}

.handshake {
  width: 28%;
}
