// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "button";
@import "form";
@import "card";
@import "footer";
@import "image";
@import "subtitle";
@import "chatroom";
@import "message";

.container {
  flex-grow: 1;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
