.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

.sender-style {
  width: 70%;
  max-width: 400px;
  border-radius: 1rem;
  padding: 10px 20px;
  min-height: 73px;
  background-color: #DDDDDD;
  /* Define additional sender-specific styles if needed */
}

.receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 1rem;
  padding: 10px 20px;
  min-height: 73px;
  background-color: #DDDDDD;
  /* Define additional receiver-specific styles if needed */
}

.message-row .sender-style p,
.message-row .receiver-style p {
  margin-bottom: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
