.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-van {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-direction: row;

  height: 100%;
  width: 100%;
}

.navbar-van2 {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

}

.nav-item {
  font-size: 1rem;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'Catamaran', sans-serif;
}

.nav-item-li{
  color: #010058;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  display: inline-block;
}

.nav-item-li::after{
  content: '';
  width: 0;
  height: 3px;
  background: #010058;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.nav-item-li:hover::after{
  width: 100%;
}

li p {
  margin-bottom: 0px;
}

.fa-regular {
  font-size: 40px;
}

.navbar-search {
  background-color: #212A3E;
  height: 70px;
  padding: 0px
}

.navbar-list {
  height: 3em;
}

.fa-bell {
  padding-right: 15px;
  font-size: 35px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 24px;
}

.form-control-mine {
  display: block;
  width: 1000px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 20px;
    background: white;
  height: 40px
}

.search-form {
  .input-search {
    background-image: url(https://cdn.icon-icons.com/icons2/621/PNG/512/magnifier-1_icon-icons.com_56924.png);
    background-size: 25px;
    background-color: white;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
    text-indent: 40px;
  }
}

.search-bar {
  position: relative;
  margin-right: 80px;

}

.search-bar2 {
  position: relative;
  margin-right: 117px;
}

.search {
  position: absolute;
  right: 17px;
  top: 4px;
  font-family: 'Catamaran', sans-serif;
  background: #212A3E;
  color: white;
  border-radius: 4px;
  padding: 4px 15px;
  border-radius: 24px;
  transition: background 0.3s ease;
  border-style: hidden;
  &:hover {
    background: #012574;
    color: white;
    border-radius: 4px;
    padding: 4px 15px;
    border-radius: 24px;
    transition: background 0.3s ease;
    border-style: hidden;
  }
}


.login-click {
  list-style: none;
  color: white;
  font-family: 'Catamaran', sans-serif;
}

.dropdown-item {
  font-family: 'Catamaran', sans-serif;
  font-size: 19px;
}
