.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  
  .circle-pending {
    background-color: yellow;
  }
  
  .circle-accepted {
    background-color: green;
  }
  
  .circle-rejected {
    background-color: red;
  }